* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.App {
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 5vh;
}

.posts h1 {
  display: flex;
  justify-content: center;
}

.post{
  display: flex;
  flex-direction: column;

  background-color: gray;
  margin-bottom: 2vh;
}

.postTitle {
  display: flex;
  justify-content: center;
}

.postContent {
  display: flex;
  background-color: #b4b4b4;
}

.pageTitle {
  display: flex;
  justify-content: center;
}

.signAndRegisterForm {
  display: grid;
}

.postContentInput {
  height: 20em;
}

.formWrapper {
  width: 25em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
